*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive;
}
body{
    background-color: black;
}
.nav{
    height: 6vh;
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
}

.container{
    display: flex;
    height: 85vh;
    padding: 10px;
    gap: 2px;
    color: white;

}
.left {
    width: 30vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.heading{
    height: 50%;
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    background-color: #121212;
    border-radius: 5px 5px 0 0;
}
.library{
    min-height: 70vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.contents{
    background-color: #121212;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scrollbar-width: none;
    height: 100%;
    justify-items: center;
}
.footer{
    background-color: #121212;
    margin-top: 0%;
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px ;
}
.link{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    font-size: smaller;

}
.link a{
    color: grey;
    text-decoration: none;
}
.boxe {
    background-color: #1F1F1F;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    gap: 10px;
    padding: 20px;
}



.create{
    color: rgb(255, 255, 255);
    background-color: #484747;
}

.bann{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    position:sticky;
    align-items: center;
    padding: 10px;
    gap: 10px;
    
    
}
.bann img{
    width: 90%;
    border-radius: 15px;
    height: 70%;
}

h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h6{
    color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px; 
    background-color: #181818; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-top: 1px solid #282828;
}
.right{
    background-color: #121212;
    width: 70vw;
    height: 100%;
    margin: 0 0 0 15px ;
    height: 100%;
    overflow: scroll;
    scrollbar-width: none;
    border-radius: 15px;
    justify-content: center;
}
h3{
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 0px;
}
.white{
    height: 50%;
    overflow: scroll;
    display: flex;
    scrollbar-width: none;
    padding: 10px;
}

.circle{
    border-radius: 100%;
    width: 100%;
    height: 200px;
    background-color: #ffffff;
}

.green2{
    min-width: 200px;
    height:100%;
    border-radius: 15px;  
    display: flex;
}

.green{
    background-color: #1F1F1F;
    min-width: 200px;
    height:100%;
    border-radius: 15px;   
}

hr{
    height: 1px;;
}

.footers{
    background: linear-gradient(135deg, #ff69b4, #4169e1);
    height: 8vh;
    position: relative;
    
}

.sticky-footer{
    background-color: #1F1F1F;
    height: 50%;
}

button{
    border-radius: 10px;
    width: 100px;
    color: black;
    border: 0px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}


.circle img{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 100%;

}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .left, .right {
        width: 100%;
        height: auto;
    }
    .heading {
        flex-direction: column;
        height: auto;
    }
    .fixed-footer {
        height: auto;
        padding: 10px;
        flex-direction: column;
        align-items: flex-start;
    }
}
::-webkit-scrollbar {
    display: none;
}
