.border{
    border: 2px solid rgb(133, 133, 133);
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: rgb(51, 51, 51);
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}
.red{
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
    display: flex;
    flex-direction: column;
}
.white{
    background-color: rgba(255, 255, 255, 0.007);
    width: 99%;
    min-height: 45vh;
    margin: 5px 0px 0px 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow: scroll;
    scrollbar-width: none;
    
}
.yellow{
    background-color: rgb(86, 86, 83);
    min-width: 14vw;
    height: 85%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 15px;
}
.music{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    color: rgb(255, 255, 255);
    gap: 20px;
    margin-top: 10px;
}